<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
  
    <form action="search">
    	<input type="text" name="searchTerm">
    	<input type="submit">

  </body>
</html>
