<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
  	<h1>Movies:</h1>
  	<ul>
  		<% movieList.forEach(function (movie) { %>
  		<li><a href="movie/<%= movie.imdbID %>"> <%= movie.Title %> </a></li>
  	<% }) %>
  </ul>

  </body>
</html>
